<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>AKROPOL photo gallery</title>
</head>


<body>
	<h1>User's gallery</h1>
	<div class="container">
	<tr th:each="photo : ${photos}">                                                                   
    	<td><img th:src="*{'data:image/jpg;base64,'+photo}" alt="" /></td>                                      
  	</tr>
	</div>
</body>

</html>